.modal-body .preview img {
    max-width: 80px;
    max-height: 60px;
}

@media (min-width: 1200px){
    .fileupload-buttonbar .col-lg-7 {
        width: 100%;
    }
}
.fileupload-buttonbar .col-lg-7{
    width:100%;
}
.fileupload-progress{
    height:10px;
}
#image_history ul li{float:left;
    list-style-type: none;
    margin-right: 5px;}
#image_history ul img {
    width:160px;
}
#image_history .clear{
    clear:both;
}